/* general */
body {
    font-family: "Roboto", Helvetica;
    margin: 0px;
    padding: 0px;
    height: 100dvh;
    box-sizing: border-box;
}
main {
    grid-template-columns: 1fr 4fr;
    height: 100%;
}
.g {
    display: grid;
}
.f {
    display: flex;
}

/* delete later */
.content,.sidebar, .topbar, .topbar > div, .welcomebar, .welcomebar > div {
    border: 2px solid blue;
}

/* sidebar */
.sidebar {
    padding: 15px;
    font-size: 1.2rem;
    align-content: baseline;
    gap: 20px;
}


/* topbar */
.topbar {
    gap: 30px;
    justify-content: space-between;
}
.topbar > div {
    gap: 10px;
    padding: 20px 40px 20px 40px;
}
.searchbar{
    background-color: lightgray;
    flex: 1;
}
div.top_items2{
    justify-content: space-between;
    gap: 30px;
}
div.top_items1{
    justify-content: start;
    flex: 1;
    max-width: 600px;
}

/* welcomebar */
.welcomebar{
    justify-content: space-between;
}
.welcomebar > div{
    padding: 20px 40px 20px 40px;
    align-items: center;
}
.name_content {
    flex-direction: column;
    gap: 5px;
}
.welcome_items1 {
    gap: 15px;
}
.welcome_items2 {
    gap: 50px;
}