/* general */
body {
    font-family: "Roboto", Helvetica;
    margin: 0px;
    padding: 0px;
    height: 100dvh;
    box-sizing: border-box;
    background-color: #e2e8f0;
}
main {
    grid-template-columns: 1fr 4fr;
    height: 100%;
}
.g {
    display: grid;
}
.f {
    display: flex;
}
a {
    text-decoration: none;
    color: white; 
}

/* delete later */
.section1, .section2 {
    border: 2px solid blue;
}

/* sidebar */
.sidebar {
    padding: 15px 20px 20px 15px;
    font-size: 1.2rem;
    align-content: baseline;
    gap: 35px;
    background-color: #1992d4;
    color: white;
}
.items1, .items2 {
    gap: 18px;
    margin-bottom: 20px; 
}
.side_item, .side_header { 
    justify-content: start;  
    align-items: center;
}
.side_header { 
    gap: 5px; 
    font-weight: 600;
}
.side_item {
    gap: 17px; 
}
.side_item {
    font-size: 17px;
    font-weight: 500;
    transition: all 0.1s;
}
.side_item:hover {
    transform: scale(1.1);
}
h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.sidebar_svg {
    width: 20px;
    fill: white; 
    padding-left: 9px;
}


/* topbar */
.topbar {
    gap: 20px;
    justify-content: space-between;
    align-items: center; 
    background-color: white;
}
.topbar > div {
    gap: 10px;
    padding: 10px 35px 3px 35px;
}
.searchbar {
    background-color: rgb(227, 227, 227);
    border-radius: 20px;
    border: none; 
    padding: 5px; 
    flex: 1;
}
div.top_items2 {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
div.top_items1 {
    justify-content: start;
    max-width: 600px; 
    flex: 1;
}
.topbar_svg {
    width: 22px;
    fill: black; 
}
.profile_icon {
    width: 40px; 
    border-radius: 20px;
}
.username {
    font-weight: 700;
    text-wrap: nowrap;
    color: black; 
}

/* welcomebar */
.welcomebar {
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
}
.welcomebar > div {
    padding: 20px 35px 10px 35px;
    align-items: center;
}
.name_content {
    flex-direction: column;
    gap: 5px;
}
.welcome_items1 {
    gap: 15px;
}
.welcome_items2 {
    gap: 15px;
}
.profile_icon_big {
    width: 70px; 
    border-radius: 35px;
}
.username.name {
    font-size: 1.2em;
    text-wrap: wrap;
}
button {
    background-color: #1992d4;
    color: white;
    border: none;
    padding: 8px 20px; 
    border-radius: 20px;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* main content */
.main_content {
    gap: 15px; 
    margin: 20px;
}
.subsection1 > div, .subsection2, .subsection3 {
    padding: 25px 15px; 
    font-size: 13px;
}
.title {
    font-weight: 600;
    font-size: 1.1rem;
}
.card_button:hover {
    transform: scale(1.1);
}
.card:hover {
    transform: scale(1.01);
    cursor: pointer; 
}

/* section 1 */
.section1 {
    flex: 2.5;
    flex-direction: column;
    gap: 10px; 
}
.subsection1 {
    flex: 1; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    color: grey;
}
.card_name {
    font-size: 1.18em;
    font-weight: 600;
    color: black; 
}
.card_button {
    width: 26px;
}
.card {
    background-color: white;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border-left: 8px solid #76c5ef;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

}
.card_buttons {
    align-self: end;
    gap: 10px;
}

/* section 2 */
.section2 {
    flex: 1;
    gap: 20px; 
}
.section2 > div {
    flex-direction: column;
    gap: 10px;
}